.onPlay3 {
  position: relative;
  z-index: 1;
  left: 50px;
  top: -120px;
  width: 50px;
  height: 50px;
  background-color: black;
  opacity: 0.8;
}

.onPlay3:hover {
  opacity: 1;
}
