.arw_btn1 {
  width: 16px;
  height: 20px;
  display: inline-block;
  margin-right: 9px;
  border: 0;
  position: absolute;
  top: 15px;
  right: 0px;
  cursor: pointer;
  z-index: 1;
}
.playlist {
  background-color: white;
}
.playlist:hover {
  background-color: #eee;
}

/* svg {
  top: -35px;
  right: 0px;
} */
