.songs::-webkit-scrollbar {
  display: none;
}
.mainContent {
  color: rgba(0, 0, 0, 0.6);
  background-color: #efefef;
  /* background: linear-gradient(to bottom, rgba(243, 245, 245, 0.1), #efefef); */
  height: auto;
}

.musicContent {
  color: rgba(0, 0, 0, 0.6);
  background: linear-gradient(to bottom, rgba(243, 245, 245, 0.1), #efefef);
  height: 100vh;
}
