.my-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.ibb.co/1bwGWp5/back-Ground-Img.jpg");
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
}

@media (min-width: 992px) {
  .my-modal {
    margin-top: 60px;
  }
  .my-content {
    width: 700px;

    height: auto;
    background-image: url("https://i.ibb.co/1bwGWp5/back-Ground-Img.jpg");
  }
}

@media (max-width: 768px) {
  .my-modal {
    margin-top: -8px;
    height: 100vh;
  }
  .my-content {
    width: 100vw;
    position: relative;
    right: 0px;
    left: 0px;
    top: -10px;

    height: 100vh;
    background-image: url("https://i.ibb.co/1bwGWp5/back-Ground-Img.jpg");
  }
}

._info {
  font-size: 14px;
  width: 100px;
}
.dropbtn {
  padding: 14px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #2874f0;
}
