.row-1{
    height: 20vh;
   
}

.row-3 {
    height: 30vh;

}

.row-4{
 height: 100%;   
}

.first_row{
    height: 20vh
}
.second_row {height: 30vh;}

.third_row {height: 30vh;}

.first_row_second_col{height: 30vh;}