.playlogo {
  padding-top: 2px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 4px;
  opacity: 0.9;
}

.pauselogo {
  padding-top: 2px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 5px;
  opacity: 0.9;
}
.volumeSidbar {
  box-shadow: 0 2px 15px 0;
  background-color: #fff;
  width: 150px;
  height: 40px;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 5px 5px 5px 5px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 85px;
  left: -45px;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 450px;
  height: 4px;
  background: rgb(14, 12, 12);
  border: none;
  border-radius: 3px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: rgb(218, 32, 48);
  margin-top: -5px;
}
input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgb(14, 12, 12);
}
